#### Importando a blibioteca

In [1]:
import pandas as pd 
import math

#### Organizando os dados

In [2]:
quantidade_de_vendas = [127, 154, 98, 203, 175, 82, 116, 189, 145, 172, 210, 93, 84, 74, 52, 98, 120, 85, 61, 87]
i = len(quantidade_de_vendas)
print(f'i = {i}')

i = 20

#### Ordenando lista (rol)

In [3]:
quantidade_de_vendas.sort()
print(f" Tabela rol : {quantidade_de_vendas}")

 Tabela rol : [52, 61, 74, 82, 84, 85, 87, 93, 98, 98, 116, 120, 127, 145, 154, 172, 175, 189, 203, 210]

#### numero de classes Regra de Sturges :
$$k = 1 +3.322 *\log_{\text{2}}(20)$$

In [4]:
k = round(1 + 3.322 * math.log10(len(quantidade_de_vendas)))
print(f'A quantidade de classe = {k}')

A quantidade de classe = 5

#### Amplitude total da distribuiÃ§ao : 
$$  AT = L - l  $$
$$l = limiteInferior$$
$$L = limiteSuperior$$

In [5]:
aplitude_total_AT = quantidade_de_vendas[19] - quantidade_de_vendas[0]
print(f'A amplitude total = {aplitude_total_AT}')

A amplitude total = 158

#### Intervalo de classes :
$$ h=\frac{AT}{k}$$

In [6]:
h = round(aplitude_total_AT / k)
print(f'Intervalo de classe = {h}')

Intervalo de classe = 32

### fi

In [16]:
cont001 = 0
cont002 = 0
cont003 = 0
cont004 = 0
cont005 = 0

for numero in range(len(quantidade_de_vendas)):
    if quantidade_de_vendas[numero] >= 52  and  quantidade_de_vendas[numero] < 84 :
        cont001 += 1 
    if quantidade_de_vendas[numero] >= 84  and  quantidade_de_vendas[numero] < 116 :
        cont002 += 1 
    if quantidade_de_vendas[numero] >= 116  and  quantidade_de_vendas[numero] < 148 :
        cont003 += 1 
    if quantidade_de_vendas[numero] >= 148  and  quantidade_de_vendas[numero] < 180 :
        cont004 += 1 
    if quantidade_de_vendas[numero] >= 180  and  quantidade_de_vendas[numero] < 212 :
        cont005 += 1 

frequencias_simples = [cont001,cont002,cont003,cont004,cont005]

print(frequencias_simples)

[4, 6, 4, 3, 3]

### Fi

In [17]:
frequencia_acumulada = []
for numero in range(5) :
    if numero == 0:
        variavel = frequencias_simples[0]
        frequencia_acumulada.append( variavel)
        
    else :
        variavel = frequencia_acumulada[numero - 1] + frequencias_simples[numero]
        frequencia_acumulada.append(variavel)
        
print(frequencia_acumulada)

[4, 10, 14, 17, 20]

#### fr

In [18]:
frequencia_relativa = []
for numero in range(5) :
    var = (frequencias_simples[numero] / i) * 100
    frequencia_relativa.append(var)
print(frequencia_relativa)

[20.0, 30.0, 20.0, 15.0, 15.0]

#### Fr

In [19]:
frequencia_relativa_acumulativa = []
for numero in range(5) :
    if numero == 0:
        variavel = frequencia_relativa[0]
        frequencia_relativa_acumulativa.append(variavel)
        
    else :
        variavel = frequencia_relativa_acumulativa[numero - 1] + frequencia_relativa[numero]
        frequencia_relativa_acumulativa.append(variavel)
        
print(frequencia_relativa_acumulativa)

[20.0, 50.0, 70.0, 85.0, 100.0]

### Xi
$$ Xi=\frac{li+ Li}{2} $$

In [20]:
ponto_medio_da_clase = []

#classe 001
x1 = round((52 + 82) / 2)
ponto_medio_da_clase.append(x1)
#classe 002
x2 = round((84 + 98) / 2)
ponto_medio_da_clase.append(x2)
#classe 003
x3 = round((116 + 145) / 2)
ponto_medio_da_clase.append(x3)
#classe 004
x4 = round((154 + 175) / 2)
ponto_medio_da_clase.append(x4)
#classe 005
x4 = round((189 + 210) / 2)
ponto_medio_da_clase.append(x4)

print(ponto_medio_da_clase)

[67, 91, 130, 164, 200]

fi = frequencia simples <br>
xi = ponto medio da clase <br>
fri = frequencia simples acumulativa  <br>
Fr = frequencia relativa  <br>
Fr = frequencia relativa acumulativa  <br>
Fi = frequencia acumulada

In [21]:
pd.DataFrame({
    'classe' :["52 |- 84 ","84 |- 116" ," 116 |- 148","148 |- 180","180 |- 212"],
    'fi':frequencias_simples,
    'Fi':frequencia_acumulada,
    'fr':frequencia_relativa ,
    'Fr':frequencia_relativa_acumulativa,
    'Xi':ponto_medio_da_clase
})

        classe  fi  Fi    fr     Fr   Xi
0    52 |- 84    4   4  20.0   20.0   67
1    84 |- 116   6  10  30.0   50.0   91
2   116 |- 148   4  14  20.0   70.0  130
3   148 |- 180   3  17  15.0   85.0  164
4   180 |- 212   3  20  15.0  100.0  200